html {
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

.row0, .row1, .row2 {
    margin: 0;
}



div > div {
    display: inline-block;
    border: solid black 1px;
    height: 20vh;
    width: 30vw;
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 100px;
    display: flex;
}

.game-frame {
    margin-left: 35vw;
    background-color: rgb(167, 184, 184);
    width: fit-content;
    height: fit-content;
}

.players {
    margin-left: 35vw;
}

.Round-result {
    font-size: 40px;
    margin-left: 35vw;
}

.new-game {
    font-size: 20px;
    background-color: rgb(212, 206, 198);
    border-radius: 10px;
    text-align: center;
    margin-left: 45vw;
    margin-bottom: 5px;
}