html {
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.row0, .row1, .row2 {
    margin: 0;
    max-height: 20vh;
}

div > div {
    display: inline-block;
    border: solid black 1px;
    border-top: none;
    height: 20vh;
    width: 10vw;
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
    font-size: (50px);
}

.game-frame {
    background-color: aqua;
    width: fit-content;
    height: fit-content;
}