html {
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

div {
    margin: 0;
}

div > div {
    display: inline-block;
    border: solid black 1px;
    border-top: none;
    height: 20vh;
    width: 10vw;
}

